PORT=5000
MONGODB_URI=mongodb://localhost:27017/potool
JWT_SECRET=votre_secret_jwt_super_securise
JWT_EXPIRE=24h
EMAIL_SERVICE=gmail
EMAIL_USERNAME=votre_email@gmail.com
EMAIL_PASSWORD=votre_mot_de_passe_app
EMAIL_FROM=noreply@potool.com
